<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <style>
  </style>
  <title>Pluralsight RxJS</title>
</head>
<body>
  <div id="result"></div>
  <button id="button">Get Movies</button>
</body>
</html>
